.sunsistem {
    position: relative;
    top: 0;
    left: 0;
}

#grasshopper {
    position: absolute;
    top: 0;
    left: 0;
    margin: 530px 0 0 200px;

}

#dragonfly {
    position: absolute;
    top: 0;
    left: 0;
    margin: 425px 0 0 600px;
}

#locust {
    position: absolute;
    top: 0;
    left: 0;
    margin: 600px 0 0 350px;
}
#bee{
    position: absolute;
    top: 0;
    left: 0;
    margin: 300px 0 0 735px;
}
#ladybug{
    position: absolute;
    top: 0;
    left: 0;
    margin: 500px 0 0 325px;
}
#mosquito{
    position: absolute;
    top: 0;
    left: 0;
    margin: 360px 0 0 125px;
}
#snail{
    position: absolute;
    top: 0;
    left: 0;
    margin: 500px 0 0 100px;
}
#muse{
    position: absolute;
    top: 0;
    left: 0;
    margin: 600px 0 0 70px;
}
#ant{
    position: absolute;
    top: 0;
    left: 0;
    margin: 625px 0 0 125px;
}
#spider{
    position: absolute;
    top: 0;
    left: 0;
    margin: 530px 0 0 330px;
}
#bug{
    position: absolute;
    top: 0;
    left: 0;
    margin: 180px 0 0 330px;
}
#butterfly{
    position: absolute;
    top: 0;
    left: 0;
    margin: 480px 0 0 630px;
}
#small_butterfly{
    position: absolute;
    top: 0;
    left: 0;
    margin: 500px 0 0 570px;
}
#cockroach{
    position: absolute;
    top: 0;
    left: 0;
    margin: 610px 0 0 580px;
}
#caterpillar{
    position: absolute;
    top: 0;
    left: 0;
    margin: 610px 0 0 280px;
}
#message {
    position: absolute;
    font-family: "Times New Roman", Times, serif;
    background-color: black;
    color: white;
    font-size: 20pt;	
    top: 0;
    left: 0;
    margin: 100px 0 0 320px;
}